<div id="rails-menu" data-sticky-container>
  <div class="sticky rails-menu row" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="menu rails-menu">
          <li class="menu-text">
            <span style="font: 400 2.0em/100% 'Italianno', Helvetica, Sans-serif;">
              <%= link_to "Kaiwa", root_path %>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="form-box">
  <h2>Edit Your Profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      Change your avatar!
      <%= f.file_field :avatar %>
      <%= f.check_box :remove_avatar %> Remove avatar.

      <%= f.password_field :password, autocomplete: "off", placeholder: "new password, #{@minimum_password_length} characters minimum" %>

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm new password"%>

      <%= f.password_field :current_password, autocomplete: "off", placeholder: "enter current password to confirm changes" %>
    </div>

    <div class="actions">
      <%= f.submit "Save" %>
      <br/>
      <br/>
      <p>Leaving Kaiwa?<br/>
        <strong><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></strong></p>

      <strong><%= link_to "Back", :back %></strong>
    </div>
  <% end %>
</div>
